<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新增计划</title>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .layui-form-label { width: 150px;    }
        main{
            padding-top:unset;
            margin-left: unset;
        }
        legend{
            display:flex;justify-content:space-between;
        }
    </style>
</head>

<body>
<div class="lyear-layout-web">
        <!--页面主要内容-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form class="layui-form layui-form-pane" action="">
                        <fieldset class="layui-elem-field layui-field-title"
                                  style="margin-top: 20px">
                            <legend><span>新增计划 </span>
                                <input type="hidden" name="paId" id="paId">
                                <button class="layui-btn" lay-submit="" lay-filter="addBtn">确认计划</button></legend>
                                <div class="layui-form-item">
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">计划名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" autocomplete="off"
                                                   placeholder="请输入计划名称"  class="layui-input" lay-verify="required">
                                        </div>
                                    </div>
                                     <div class="layui-line">
                                            <label class="layui-form-label layui-required">计划编号</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="num" id="num" style="background:#CCCCCC" readonly="true" class="layui-input" >
                                            </div>
                                      </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">执行方式</label>
                                        <div class="layui-input-inline">
                                        <select id="execType" name="execType" lay-filter="execType">
                                            <option value="">请选择</option>
                                            <option value="0">立即执行</option>
                                            <option value="1">定时执行</option>
                                        </select>
                                       </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">执行时间</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="execTime" id="execTime" autocomplete="off"placeholder="请选择执行时间" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">补丁名称</label>
                                        <div class="layui-input-inline">
                                            <input name="paName" style="background:#CCCCCC" placeholder="查询补丁名称" class="layui-input" id="paName" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">计划类型</label>
                                        <div class="layui-input-inline">
                                            <select id="type" name="type">
                                                <option value="">请选择</option>
                                                <option value="0">设备</option>
                                                <option value="1">容器</option>
                                                <option value="2">系统</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">补丁类型</label>
                                        <div class="layui-input-inline">
                                            <select id="paType" name="paType">
                                                <option value="">请选择</option>
                                                <option value="0">补丁升级</option>
                                                <option value="1">文件系统升级</option>
                                                <option value="2">内核升级</option>
                                                <option value="3">表示全量升级</option>
                                                <option value="4">AI模块补丁</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label layui-required">补丁版本</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="versions" readonly="true" id="versions"
                                                   style="background:#CCCCCC"  class="layui-input" lay-verify="required">
                                        </div>
                                    </div>
<!--                                    <div class="layui-line">-->
<!--                                        -->
<!--                                        <button class="layui-btn" lay-submit="" lay-filter="addBtn">提交</button>-->
<!--                                    </div>-->
                                </div>
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>设备列表</h4></div>
                    <div class="card-body">
                        <table id="task_table" data-response-handler="responseHandler" lay-filter="taskFilter"></table>
                    </div>
                </div>
            </div>

        </div>

    </div>
        <!--End 页面主要内容-->
</div>
<!--弹窗内容-->
<div id="deviceProd" class="layui-form" hidden="hidden">
    <label class="layui-form-label">选择升级的设备</label>
    <table data-response-handler="responseHandler" id="deviceTable" lay-filter="deviceFilter"></table>
</div>
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="indexTpl">{{d.LAY_INDEX}}</script>
<script type="text/html" id="linkStatus">
    {{#  if(d.linkStatusNum =='0' ){ }}
      建立连接
    {{#  } else if(d.linkStatusNum =='1' ) { }}
      断开连接
    {{#  } }}
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
<!--        <button class="layui-btn layui-btn-warm" lay-event="add">新增</button>-->
<!--        <button class="layui-btn layui-btn-warm" lay-event="getCheckData">删除</button>-->
<!--        <button class="layui-btn layui-btn-warm" lay-event="save">保存</button>-->
    </div>
</script>
<script>
    layui.use('table', function () {
        var    table = layui.table,
          dropdown  = layui.dropdown,
                   form= layui.form,
            laydate = layui.laydate;
        laydate.render({ elem: '#execTime', type: 'datetime'  })
        $.get("/upgrade/task/getId",function (obj) {
            if (obj.code === 20000){
                let data = obj.data;
                $("#num").val(data.num);
                initDown(data.patchList);
            }
        })

        form.on("select(execType)", function(data){
            if (data.value === '0'){
                $('#execTime').val("");
                $('#execTime').attr("readonly","true");
                $('#execTime').css("background","#CCCCCC");
                $('#execTime').css("pointer-events","none");
            }else{
                $('#execTime').removeAttr("readonly");
                $('#execTime').removeAttr("style");
            }
        });

        function initDown(obj){         //初演示 - 绑定输入框
            let down=new Array();
            for (let i = 0; i <obj.length ; i++) {
                let o=new Object();
                o.title=obj[i].name;
                o.id=obj[i].id;
                o.versions=obj[i].versions;
                down.push(o)
            }
            dropdown.render({
                elem: '#paName'
                ,data: down
                ,click: function(obj){
                    this.elem.val(obj.title);
                    $('#versions').val(obj.versions);
                    $('#paId').val(obj.id);
                }
                ,style: 'width: 235px;'
            });
        }
        table.render({
            elem: '#task_table'
            ,url: '/archives/search'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,method:'post'
            ,page:true
            ,id: 'testReload'
            ,contentType:'application/json'
            , cols: [[
                 {title: '序号',width:'5%',toolbar: '#indexTpl'}
                ,{field: 'daId',width:'5%',type:'checkbox'}
                 ,{field: 'deviceId',width:'20%', title: '设备编号'}
                ,{field: 'deviceType', width:'10%',title: '设备类型'}
                ,{field: 'deviceVersion', width:'10%',title: '设备型号'}
                ,{field: 'deviceMfginfo', width:'10%',title: '设备厂商'}
                ,{field: 'linkStatusNum', width:'10%',title: '在线状态',toolbar: '#linkStatus'}
            ]]
            ,done: function (res, curr, count){
                $("table").css("width", "100%");//这里设置表格的宽度为100%
            },
        });
        //监听提交
        form.on('submit(addBtn)', function(data){
            var daId = table.checkStatus('testReload');
            let obj=new Object();
            let deviceIds=new Array();
            let daIds = daId.data;
            if (daIds.length <=0){
                layer.alert("请选择升级的设备！")
                return  false;
            }
            for (let i = 0; i < daIds.length; i++) {
                deviceIds.push(daIds[i].daId);
            }
            obj.field=data.field;
            obj.daIds=deviceIds;
            $.ajax({
                method: "post",
                url: "/upgrade/task/save",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function (data) {
                    if (data.code === 20000){
                        layer.open({ content: '保存计划成功',
                            yes: function(index, layero){
                                var index =parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.layui.table.reload('testReload');
                            }
                        });
                    }
                }
            });
            return false;
        });

    })
</script>
</body>
</html>