<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>配置信息</title>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .layui-form-label {
            width: 195px;
        }
    </style>
</head>

<body>
       <!--页面主要内容-->
        <main   >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <fieldset class="layui-elem-field layui-field-title"
                                          style="margin-top: 20px">
                                    <legend>设备配置信息</legend>
                                    <form class="layui-form" id="cfg_form">
                                        <div class="layui-form-item" style="margin-left: 8%;">
                                            <div class="layui-line">
                                                <label class="layui-form-label">设备名称</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="devName" id="devName" placeholder="请输入设备编号"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-line">
                                                <label class="layui-form-label">系统cpu使用率上限阀值</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="cpuLmt" id="cpuLmt" placeholder="请输入系统cpu使用率上限阀值"  lay-verify="number"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-line">
                                                <label class="layui-form-label">系统内存使用率上限阀值</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="memLmt" id="memLmt" placeholder="请输入系统内存使用率上限阀值" lay-verify="number"
                                                           autocomplete="off" class="layui-input">

                                                </div>
                                            </div>
                                            <div class="layui-form-item" style="text-align: center;">
                                                <div class="layui-line">
                                                    <label class="layui-form-label">系统储存占用率上限阀值</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="diskLmt" id="diskLmt"
                                                               placeholder="请输入系统储存占用率上限阀值" autocomplete="off" lay-verify="number"
                                                               class="layui-input">

                                                    </div>
                                                </div>
                                                <div class="layui-line">
                                                    <label class="layui-form-label">主板温度监控低温阀值</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="temLow" id="temLow"
                                                               placeholder="请输入主板温度监控低温阀值" autocomplete="off" lay-verify="number"
                                                               class="layui-input">

                                                    </div>
                                                </div>

                                                <div class="layui-line">
                                                    <label class="layui-form-label">主板温度监控高温阀值</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="temHigh" id="temHigh"
                                                               placeholder="请输入主板温度监控高温阀值" autocomplete="off" lay-verify="number"
                                                               class="layui-input">

                                                    </div>
                                                </div>
                                                <div class="layui-form-item" style="text-align: center;">

                                                    <div class="layui-line">
                                                        <label class="layui-form-label">同步设备当前时间</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="synDateTime" id="synDateTime"
                                                                   placeholder="请输入同步设备当前时间" autocomplete="off"
                                                                   class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="text-align: center;">
                                            <button type="button" Class="layui-btn  layui-btn-lg layui-icon layui-icon-triangle-r" onclick="recallBtnFun()">
                                           召回
                                            </button>
                                            <input type="hidden" name="type" id="type"  class="layui-input">
                                            <input type="hidden" name="deviceId" id="deviceId"  class="layui-input">
                                            <button type="button"lay-submit
                                                    class="layui-btn   layui-btn-lg layui-icon layui-icon-add-circle "lay-filter="saveBtn"
                                                    id="saveBtn">保存
                                            </button>
                                            <button type="button" lay-submit
                                                    class="layui-btn    layui-btn-lg layui-icon layui-icon-triangle-d" lay-filter="downBtn" id="downBtn">下发
                                            </button>
                                        </div>
                                    </form>
                                </fieldset>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"><h4>配置文件列表(设备状态上报信息)</h4></div>
                            <div class="card-body">
                                <table id="cfg_table" data-response-handler="responseHandler" lay-data="{id: 'idcfg'}"
                                       lay-filter="cfgFilter"></table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->

<script src="/static/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/static/js/menu/page_menu.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/html" id="indexTpl">{{d.LAY_INDEX}}</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-warm" lay-event="refreshPage">刷新</button>
    </div>
</script>

<script type="text/html" id="stateBar">
    {{#  if(d.type =='0' ){ }}
    未下发只保存
    {{#  } else if(d.type =='1' ) { }}
    已下发只保存
    {{#  } else if(d.type =='2' ) { }}
    召回成功
    {{#  } }}
</script>
<script type="text/html" id="deleteBar">
    <a class="layui-btn" lay-event="delete" style="line-height:24px">删除</a>
</script>
<script>

    let deviceId = getUrlParam("deviceId");
    layui.use('table', function () {
        var table = layui.table,
             form = layui.form,
            laydate = layui.laydate;
        laydate.render({elem: '#synDateTime', type: 'datetime'})
        if (deviceId){
            $('#deviceId').val(deviceId);
        }
        let cfgTable = table.render({
            elem: '#cfg_table'
            , url: '/cfg/search'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , method: 'post'
            , page: true
            , id: 'testReload'
            , contentType: 'application/json'
            , where: {
                deviceId: deviceId //必须传值，否则无数据
            }
            , parseData: function (res) {
                if (res.code === 999){
                    layer.alert("请从设备巡测点击过来？",{icon:5});
                    res.code=0;
                    return res;
                }
            }
            , cols: [[
                {field:'id',title: '序号', width: '5%', toolbar: '#indexTpl'}
                , {field: 'deviceId', width: '20%', title: '设备编号'}
                , {field: 'cpuLmt', width: '10%', title: '系统cpu阀值'}
                , {field: 'memLmt', width: '10%', title: '系统内存阀值'}
                , {field: 'diskLmt', width: '10%', title: '系统存储阀值'}
                , {field: 'type', width: '10%', title: '状态',toolbar: '#stateBar'}
                , {field: 'synDateTime', width: '20%', title: '更新时间'}
                , {fixed: 'right', width: 150, title: '操作', align: 'center', toolbar: '#deleteBar'}
            ]]
            , done: function (res, curr, count) {
                $("table").css("width", "100%");//这里设置表格的宽度为100%
            },
        });
        //触发事件
        table.on('toolbar(cfgFilter)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'refreshPage':
                    //刷新操作
                    cfgTable.reload({elem: '#cfg_table'})
                    break;
            };
        });
        //触发事件
        table.on('tool(cfgFilter)', function (obj) {
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            switch (layEvent) {
                case 'delete':
                    layer.confirm('真的删除行么', function(index){
                        let obj=new Object();
                        obj.dcId=data.id;
                        $.ajax({
                            url:"/cfg/del",
                            type:"delete",
                            contentType:"application/json",
                            dataType:"json",
                            data:JSON.stringify(obj),
                            success:function(msg){
                                if (msg.code === 20000) {
                                    layer.close(index);
                                    //刷新操作
                                     cfgTable.reload({elem: '#cfg_table'})
                                }
                            }
                        });
                    });
                    break;
            };
        });
        form.on('submit(saveBtn)', function (data) {
            let dataObject = data.field;
               dataObject.type = 0;
            $.ajax({
                method: "POST",
                url: "/cfg/event",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(dataObject),
                success: function (data) {
                    if (data.code === 20000){
                        layer.alert("保存成功",{icon:1})
                        $('#cfg_form')[0].reset();
                    }
                }
            });
        });

    //下发命令
    form.on('submit(downBtn)', function (data) {
        let dataObject = data.field;
        dataObject.type = 1;
        $.ajax({
            method: "POST",
            url: "/mqtt/configure/update",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(dataObject),
            success: function (data) {
                if (data.code === 20000){
                    layer.alert("下发成功",{icon:1})
                    $('#cfg_form')[0].reset();
                }
            }
        });
    });
    })
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }
    //召回命令
    function recallBtnFun() {
        let obj =new Object();
        obj.deviceId=deviceId;
        $.ajax({
            method: "POST",
            url: "/mqtt/softHard/info",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(obj),
            success: function (data) {
                if (data.code === 20000){
                    layer.alert("召回命令已发送",{icon:1});
                    $('#cfg_form')[0].reset();
                }
            }
        });
    };
</script>

</body>
</html>