<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>设备升级</title>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.4.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet">
    <link href="/static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">
    <style>
        .layui-form-label { width: 150px;    }
    </style>
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="../index.html"><img src="/static/images/logo-sidebar.png" title="LightYear"
                                             alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">
                <nav class="sidebar-main">
                    <ul class="nav nav-drawer" id="menu_dox"></ul>
                </nav>

                <div class="sidebar-footer">
                    <p class="copyright">Copyright &copy; 2022. All rights reserved. More Templates </p>
                </div>
            </div>

        </aside>
        <!--End 左侧导航-->
        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title">设备管理-设备升级</span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="/static/images/users/avatar.jpg"
                                     alt="后台系统"/>
                                <span>后台系统 <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="../pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a></li>
                                <li><a href="../pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a></li>
                                <li><a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                <li class="divider"></li>
                                <li><a href="/loginOut"><i class="mdi mdi-logout-variant"></i> 退出登录</a></li>
                            </ul>
                        </li>
                        <!--切换主题配色-->
                        <li class="dropdown dropdown-skin"></li>
                        <!--切换主题配色-->
                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->
        <!--页面主要内容-->
<main class="lyear-layout-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <fieldset class="layui-elem-field layui-field-title"
                                  style="margin-top: 20px">
                            <legend>查询条件</legend>
                            <form class="layui-form">
                                <div class="layui-form-item" style="margin-left: 8%;">
                                    <div class="layui-line">
                                        <label class="layui-form-label">设备编号</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deviceId" id="deviceId" placeholder="请输入设备编号"autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label">设备类型</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deviceType" id="deviceType" placeholder="请输入终端类型"autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-line">
                                        <label class="layui-form-label">设备厂商</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="deviceMfginfo" id="deviceMfginfo" placeholder="请输入设备厂商信息"autocomplete="off" class="layui-input">

                                        </div>
                                    </div>
                                    <div class="layui-form-item" style="text-align: center;">
                                            <div class="layui-line">
                                                <label class="layui-form-label">系统名称</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="sysName" id="sysName" placeholder="请输入系统名称"autocomplete="off" class="layui-input">

                                                </div>
                                            </div>
                                            <div class="layui-line">
                                                <label class="layui-form-label">升级类型</label>
                                                <div class="layui-input-inline">
                                                    <select name="upgradeType" id="upgradeType" lay-verify="">
                                                        <option value="">请选择</option>
                                                        <option value="0">补丁升级</option>
                                                        <option value="1">文件系统升级</option>
                                                        <option value="2">内核升级</option>
                                                        <option value="3">全量升级</option>
                                                    </select>
                                                </div>
                                            </div>

                                    <div class="layui-line">
                                        <label class="layui-form-label">是否升级</label>
                                        <div class="layui-input-inline">
                                            <select name="linkStatusNum" id="linkStatusNum" lay-verify="">
                                                <option value="">请选择</option>
                                                <option value="0">已升级</option>
                                                <option value="1">未升级</option>
                                            </select>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                                <div class="layui-form-item" style="text-align: center;">
                                        <button type="button" class="layui-btn layui-btn-normal layui-btn-lg layui-icon layui-icon-search"
                                                id="doSearch">查询</button>
                                        <button type="reset" class="layui-btn layui-btn-warm  layui-btn-lg layui-icon layui-icon-refresh "
                                               >重置</button>
                                </div>
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h4>升级列表</h4></div>
                    <div class="card-body">
                        <table id="audit_table" data-response-handler="responseHandler" lay-filter="upgradeFilter"></table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
        <!--End 页面主要内容-->
    </div>
</div>

<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap-3.3.4.js"></script>
<script type="text/javascript" src="/static/js/menu/page_menu.js"></script>
<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/static/js/main.min.js"></script>
<script src="/static/js/bootstrap-table.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initMenu();
        initTheme();
        //切换菜单
        $('.nav-item').on('click', function () {
            $('.nav-item').removeClass("active");
            $(this).toggleClass( 'active open' );
            localStorage.setItem("nav-item",$(this).index());
        })
        $('.nav-subnav').find('li').on('click', function () {
            $('.nav-subnav').find('li').toggleClass("active");
            localStorage.setItem("nav-subnav-li",$(this).index());
            $(this).toggleClass( 'active' );
        })
        $('.theme_box').find('label').on('click', function () {
            let val = $(this).parent().find('input').val();
            $('body').attr("data-theme", val);
        })
        $('.logo_bg').find('label').on('click', function () {
            let val = $(this).parent().find('input').val();
            $('body').attr("data-logobg", val);
        })

        $('.header_bg').find('label').on('click', function () {
            let val = $(this).parent().find('input').val();
            $('body').attr("data-headerbg", val);
        })

        $('.sidebar_bg').find('label').on('click', function () {
            let val = $(this).parent().find('input').val();
            $('body').attr("data-sidebarbg", val);
        })
   })
</script>
<script type="text/html" id="indexTpl">{{d.LAY_INDEX}}</script>
<script type="text/html" id="linkStatus">
    {{#  if(d.linkStatusNum =='0' ){ }}
      建立连接
    {{#  } else if(d.linkStatusNum =='1' ) { }}
      断开连接
    {{#  } }}
</script>
<script type="text/html" id="linkResult">
    {{#  if(d.linkStatusNum =='0' ){ }}
    可升级
    {{#  } else if(d.linkStatusNum =='1' ) { }}
    不可升级
    {{#  } }}
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-warm" lay-event="getCheckData">升级检验</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    {{#  if(d.linkStatusNum =='0' ){ }}
    <a class="layui-btn layui-btn-xs" lay-event="upgrade">升级</a>
    {{#  } }}
</script>
<script>
    layui.use('table', function () {
        var table = layui.table,
            laydate = layui.laydate;
        laydate.render({ elem: '#startTime', type: 'datetime'  })
        laydate.render({ elem: '#endTime', type: 'datetime'  })

        table.render({
            elem: '#audit_table'
            , url: '/archives/upgrade/search'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,method:'post'
            ,page: true
            ,id: 'testReload'
            ,contentType:'application/json'
            , cols: [[
                 {field:'daId',title: '序号',width:'5%',toolbar: '#indexTpl'}
                // ,{field: 'dloId',width:'5%',type:'checkbox'}
                 ,{field: 'deviceId',width:'20%', title: '设备编号'}
                ,{field: 'deviceMfginfo', width:'20%',title: '设备厂商'}
                ,{field: 'deviceType', width:'10%',title: '设备类型'}
                ,{field: 'sysName', width:'10%',title: '系统名称'}
                ,{field: 'sysVersion', width:'10%',title: '系统版本'}
                ,{field: 'linkStatusNum', width:'10%',title: '在线状态',toolbar: '#linkStatus'}
                ,{field: 'linkStatusNum',width:'10%',title: '可否升级',toolbar: '#linkResult'}
                ,{fixed: 'right', width: '8%', title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
            ,done: function (res, curr, count){
                $("table").css("width", "100%");//这里设置表格的宽度为100%
            },
        });
        $("#doSearch").click(function () {
            var deviceId = $("#deviceId").val();
            var sysName = $("#sysName").val();
            var deviceMfginfo = $("#deviceMfginfo").val();
            var deviceType = $("#deviceType").val();
            var upgradeType = $("#upgradeType").val();
            var linkStatusNum = $("#linkStatusNum").val();
            table.reload('testReload', {
                url:  '/archives/upgrade/search'
                   , where: {
                    deviceId: deviceId,
                    sysName: sysName,
                    deviceMfginfo: deviceMfginfo,
                    deviceType: deviceType,
                    upgradeType: upgradeType,
                    linkStatusNum: linkStatusNum
                } //设定异步数据接口的额外参数
            });
        })
        //触发事件
        table.on('toolbar(upgradeFilter)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var checkStatus = table.checkStatus('testReload');
                    if(checkStatus.data.length>0){
                        console.log(checkStatus.data);
                        layer.msg('获取选中行的数据'+checkStatus.data);
                    }else{
                        layer.msg('请先选中数据后再操作');
                    }
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(upgradeFilter)', function(obj) {
            var data = obj.data;
            if (obj.event === 'upgrade') {
                    layer.alert("设备可升级");
            }
        });

    })
</script>
</body>
</html>