<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>应用软件</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../static/css/bootstrap-3.3.4.css">
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/style.min.css" rel="stylesheet">
  <link href="../static/css/jc-css.css" rel="stylesheet">
</head>

<body>
  <div class="lyear-layout-web">
    <div class="lyear-layout-container">
      <!--左侧导航-->
      <aside class="lyear-layout-sidebar">
        <!-- logo -->
        <div id="logo" class="sidebar-header">
          <a href="index.html"><img src="../static/images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
        </div>
        <div class="lyear-layout-sidebar-scroll">
          <nav class="sidebar-main"> <ul class="nav nav-drawer" id="menu_dox"></ul>   </nav>

          <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2022. All rights reserved. More Templates </p>
          </div>
        </div>
      </aside>
      <!--End 左侧导航-->

      <!--头部信息-->
      <header class="lyear-layout-header">
        <nav class="navbar navbar-default">
          <div class="topbar">
            <div class="topbar-left">
              <div class="lyear-aside-toggler">
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
                <span class="lyear-toggler-bar"></span>
              </div>
              <span class="navbar-page-title">应用软件</span>
            </div>
            <ul class="topbar-right">
              <li class="dropdown dropdown-profile">
                <a href="javascript:void(0)" data-toggle="dropdown">
                  <img class="img-avatar img-avatar-48 m-r-10" src="../static/images/users/avatar.jpg" alt="后台系统" />
                  <span>后台系统 <span class="caret"></span></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li> <a href="pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                  <li> <a href="pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                  <li> <a href="clear.html"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                  <li class="divider"></li>
                  <li> <a href="/loginOut"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                </ul>
              </li>

              <!--切换主题配色-->
              <li class="dropdown dropdown-skin"> </li>
              <!--切换主题配色-->
            </ul>

          </div>
        </nav>

      </header>
      <!--End 头部信息-->

      <!--页面主要内容-->
      <main class="lyear-layout-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-toolbar clearfix">
                  <div class="jc-title">
                    应用档案信息
                    <button class="btn btn-info jc-fr"></button>
                  </div>
                  <!-- jc筛选区域 begin -->
                  <div class="jc-card jc-choose-box jc-choose-w100 ">
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <select class="form-control" name="" id="">
                        <option value="">请选择</option>
                        <option value="">1</option>
                      </select>
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="text" name="" id="">
                    </div>
                    <div class="jc-choose-list">
                      <span>设备编号</span>
                      <input class="form-control"  type="file" name="" id="">
                    </div>
                    <div class="jc-choose-list jc-w100">
                      <span>描述</span>
                      <textarea class="form-control" id="seo_description" name="seo_description" rows="5" value="" placeholder="描述"></textarea>
                    </div>
                  </div>
                  <!-- jc筛选区域 end -->
                  <div class="toolbar-btn-action jc-center">
                    <a class="btn btn-primary m-r-5" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
                    <a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                    <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                    <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                  </div>
                </div>
                <div class="card-body">
                </div>
              </div>
            </div>

          </div>

        </div>

      </main>
      <!--End 页面主要内容-->
    </div>
  </div>


  <script src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/bootstrap-3.3.4.js"></script>
  <script type="text/javascript" src="/static/js/menu/page_menu.js"></script>
  <script src="/static/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="/static/js/main.min.js"></script>
  <script src="/static/js/bootstrap-table.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      initMenu();
      initTheme();
      //切换菜单
      $('.nav-item').on('click', function () {
        $('.nav-item').removeClass("active");
        $(this).toggleClass( 'active open' );
        localStorage.setItem("nav-item",$(this).index());
      })
      $('.nav-subnav').find('li').on('click', function () {
        $('.nav-subnav').find('li').toggleClass("active");
        localStorage.setItem("nav-subnav-li",$(this).index());
        $(this).toggleClass( 'active' );
      })
      $('.theme_box').find('label').on('click', function () {
        let val = $(this).parent().find('input').val();
        $('body').attr("data-theme", val);
      })
      $('.logo_bg').find('label').on('click', function () {
        let val = $(this).parent().find('input').val();
        $('body').attr("data-logobg", val);
      })

      $('.header_bg').find('label').on('click', function () {
        let val = $(this).parent().find('input').val();
        $('body').attr("data-headerbg", val);
      })

      $('.sidebar_bg').find('label').on('click', function () {
        let val = $(this).parent().find('input').val();
        $('body').attr("data-sidebarbg", val);
      })
    })
  </script>
</body>

</html>